.block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  &--image {
    @include border-radius(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $selago;
    width: 90px;
    height: 90px;
    font-size: 45px;
    color: $dodgerBlue;
    margin: 10px 0px;
  };
  &--text {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
    color: $tundora;
  }

  &.coming-soon {
    border: 0px;
    background-color: inherit;
    justify-content: center;
    color: $tundora;
    cursor: default;
  }
}
