.card {
  position: relative;
  border: 0px;
  @extend .has-shadow;
  @include border-radius(5px);
  width: 100%;
  > .card-delete {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  > .card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
  }
}
