.faq {
  display: flex;
  @extend .p-5;
  @extend .my-5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  > h1 {
    color: $tundora;
    font-weight: bold;
    line-height: 2.4rem;
    @extend .mb-5;
  };

  > .accordion {
    width: 100%;
    > .card {
      > .card-header {
        color: $dodgerBlue;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        background-color: $selago;
        border: 0px;

      };
      .card-body {
        color: $tundora;
        font-size: 18px;
      }
    }
  }
}
