.task-card {
  .form-group {
    margin: 0px;
  }
  input {
    border: 0px;
    box-shadow: none !important;
    margin: 0px;
    padding: 30px 15px;
    &:focus {
      border: 0px;
      box-shadow: none !important;
    }
  };
  p {
    border: 0px;
    box-shadow: none !important;
    margin: 0px;
    padding: 18px 15px;
    &.strikethrough {
      text-decoration: line-through;
    }
  }
  &--actions {
    display: flex;
    > a {
      color: $bombay;
      padding: 10px 15px 10px;
    }
  }

}
