.tasklist {
  .tasklist-item {
    @include border-radius(5px);
    padding: 7px 15px;
    margin: 10px 0px;
    background-color: $mercury;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
