.use-case-blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > .use-case-summary {
    @extend .my-5;
    text-align: center;
  }
  > .blocks-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
      > .block-item {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        @include media-breakpoint-up(md) {
          flex-basis: 50%;
        };
        @include media-breakpoint-up(lg) {
          flex-basis: 33%;
        };
        padding: 15px;

        > .card {
          overflow: hidden;
          > .card-body {
            font-size: 20px;
            margin: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            color: $tundora;
            font-weight: bold;
          }
          > .card-cover {
            height: 200px;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
    }
  }
}
