// Colors
$bg-color: $white;
$dot-color: rgba($color: $dodgerBlue, $alpha: 1);

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

.polka-dot {
  background:
  linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
  linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
  $dot-color;
  background-size: $dot-space $dot-space;
  z-index: -1;
}
