// Colors
$white: #ffffff;
$electricViolet: #5c00ff;
$gold: #ffd401;
$brightTurquoise: #04ecce;
$black: #020202;
$bombay: #aeaeaf;
$doveGray: #6c6c6c;
$magenta: #fe00ee;
$portage: #9460f0;
$marigoldYellow: #fbef77;
$selago: #ecf5fc;
$dodgerBlue: #2a79fc;
$gorse: #fcee51;
$osloGray: #868788;
$tundora: #434343;
$tallPoppy: #bc412c;
$roseFog: #e3afb0;
$mercury: #e6e5e4;
$snowGrey: #fcfcfc;
